<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <main class="join-container max-center">
    <div class="title-module">
      <div class="title wow fadeInUp">招聘信息</div>
      <div class="subtitle wow fadeInUp" data-wow-delay="100ms">Join in</div>
    </div>
    <div class="content">
      <h2 class="title-2 wow fadeInUp">工作机会</h2>
      <div class="cont wow fadeInUp">
        <p>
          一些世界上最顶尖的当代艺术和设计作品曾于富艺斯成交。作为一家充满抱负和价值导向的企业。我们在寻找将热情，活力，专业与创意投入每天工作的团队成员。
        </p>
        <p>
          作为一家跨过企业，富艺斯为您提供不同地区，部门，专业，能扩充知识和能力的职业发展机会。若您希望在前段的艺术行业参与富艺斯平等机会雇主
        </p>
      </div>
      <h2 class="title-2 wow fadeInUp">职位空缺</h2>
      <h3 class="title-3 wow fadeInUp">客户开发协调员</h3>
      <div class="cont wow fadeInUp">
        <p>
          作为一家跨过企业，富艺斯为您提供不同地区，部门，专业，能扩充知识和能力的职业发展机会。若您希望在前段的艺术行业参与富艺斯平等机会雇主
        </p>
      </div>
    </div>
  </main>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/inner_footer/index.html") %>
</body>

</html>