<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <!-- 引入面包屑 -->
  <%= require("html-loader!../common/crumbs/index.html") %>
  <main class="offline-container">
    <ul class="offline-list">
      <li class="offline-item wow fadeInUpBig">
        <a href="">
          <div class="img">
            <img src="/public/images/home/offline-1.jpg" alt="">
          </div>
          <div class="text">
            <p class="price">最终价格:858,408.09美元</p>
            <p class="en">Red October#99730</p>
          </div>
        </a>
      </li>
      <li class="offline-item wow fadeInUpBig" data-wow-delay="100ms">
        <a href="">
          <div class="img">
            <img src="/public/images/home/offline-2.jpg" alt="">
          </div>
          <div class="text">
            <p class="price">最终价格:858,408.09美元</p>
            <p class="en">Red October#99730</p>
          </div>
        </a>
      </li>
      <li class="offline-item wow fadeInUpBig" data-wow-delay="200ms">
        <a href="">
          <div class="img">
            <img src="/public/images/home/offline-3.jpg" alt="">
          </div>
          <div class="text">
            <p class="price">最终价格:858,408.09美元</p>
            <p class="en">Red October#99730</p>
          </div>
        </a>
      </li>
      <li class="offline-item wow fadeInUpBig">
        <a href="">
          <div class="img">
            <img src="/public/images/home/offline-1.jpg" alt="">
          </div>
          <div class="text">
            <p class="price">最终价格:858,408.09美元</p>
            <p class="en">Red October#99730</p>
          </div>
        </a>
      </li>
      <li class="offline-item wow fadeInUpBig" data-wow-delay="100ms">
        <a href="">
          <div class="img">
            <img src="/public/images/home/offline-2.jpg" alt="">
          </div>
          <div class="text">
            <p class="price">最终价格:858,408.09美元</p>
            <p class="en">Red October#99730</p>
          </div>
        </a>
      </li>
      <li class="offline-item wow fadeInUpBig" data-wow-delay="200ms">
        <a href="">
          <div class="img">
            <img src="/public/images/home/offline-3.jpg" alt="">
          </div>
          <div class="text">
            <p class="price">最终价格:858,408.09美元</p>
            <p class="en">Red October#99730</p>
          </div>
        </a>
      </li>
    </ul>
  </main>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/inner_footer/index.html") %>
</body>

</html>