<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <!-- 引入公共页头 -->
  <%= require("html-loader!../common/header/index.html") %>
  <!-- 引入面包屑 -->
  <%= require("html-loader!../common/crumbs/index.html") %>
  <main class="main-content max-center">
    <div class="left-layout">
      <div class="title wow fadeInLeft">最终价格：$5,621,349.24</div>
      <div class="desc wow fadeInLeft" data-wow-delay="100ms">Ringers#879</div>
      <div class="time wow fadeInLeft" data-wow-delay="200ms">拍卖时间：2021年8月27日</div>
      <div class="cont wow fadeInUpBig">
        <p>
          Reva与顶级艺术家和品牌合作，创建限量版、高质量 NFT 的集合，在我们的平台上独家提供。我们与世界著名艺术家人合作。
        </p>
        <p>
          Reva被公认为世界领先的NFT服务，以出色的客户服务和创纪录的价格享有令人羡慕的声誉。
        </p>
        <p>
          我们只做高端NFT的甄选和专业拍卖，专业的专家团队负责在全世界范围甄选高端NFT。
        </p>
      </div>
    </div>
    <div class="right-layout">
      <img class="wow fadeInRight" src="/public/images/record/img.jpg" alt="">
    </div>
  </main>
  <!-- 引入公共页尾 -->
  <%= require("html-loader!../common/inner_footer/index.html") %>
</body>

</html>